*{
	-fx-base: #346D11;
}

.button{
	-fx-font-size: 12pt;
	-fx-text-fill: black;

	-fx-shape: "M 10 10 A 1 1 0 0 0 7 10 A 1 1 0 0 0 10 10 M 9 12 A 1 1 0 0 0 8 12 Q 7 14 8 15 Q 10 15 9 12";
	-fx-border-color: black;
	-fx-background-color: #FF9175;
	
	
	

}

.first-button{
	-fx-effect: dropshadow(gaussian, black, 0, 2, 2, 2);
	-fx-border-color: black;
	-fx-background-color: #FF9175;
}