*{
	-fx-base: #32EAFF;
}

.button{
	-fx-font-size: 15pt;
	-fx-text-fill: blue;

	-fx-text-fill: blue;
	-fx-shape: "M 6 13 C 10 13 8.6667 14.3333 10 18 C 8.6667 14.3333 9 14 7 13 M 5 13 C 9 14 7.6667 15.3333 10 19 C 7.6667 15.3333 8 15 5 13 M 7 18 C 6 15 5 14 5 14 C 5 14 4 13 2 13 C 4 14 6 16 7 18";
	-fx-base: #32EAFF;
	
}