*{
	-fx-base: #32EAFF;
}

.button{
	-fx-font-size: 12pt;
	-fx-text-fill: blue;

	-fx-text-fill: blue;
	-fx-shape: "M -2 0 C 0 2 0 2 2 0 H 2 C 4 2 4 2 6 0 C 4 0 5 2 2 0 C 0 2 0 0 -2 0 V 4 H 6 H 6 C 4 6 4 6 2 4 H 2 C 0 6 0 6 -2 4 H -2 C -0.6667 4 0 6 2 4 C 4 4 4 5 6 4 H -2";
    -fx-shape: "M -2 0 C 0 2 0 2 2 0 H 2 C 4 2 4 2 6 0 C 4 0 5 2 2 0 C 0 2 0 0 -2 0 V 4 H 6 H 6 C 4 6 4 6 2 4 H 2 C 0 6 0 6 -2 4 H -2 C -0.6667 4 0 6 2 4 C 4 4 4 5 6 4 H -2";
	-fx-base: #32EAFF;
	
}
