*{
	-fx-base: #346D11;
}

.button{
	-fx-font-size: 15pt;
	-fx-text-fill: black;

	-fx-effect: dropshadow(three-pass-box,#575757,4,.5,5,5);
	-fx-shape: "M 0 0 A 1 1 0 0 0 -5 -6 A 1 1 0 0 0 0 0";
	-fx-background-color: #8F8F91;
	-fx-opacity: 0.8;
	

}

