*{
	-fx-base: #346D11;
}

.button{
	-fx-font-size: 10pt;
	-fx-text-fill: green;
	-fx-effect: dropshadow(three-pass-box,#4E3926,3,.5,2,2);

	-fx-text-fill: green;
	-fx-shape: "M 0 0 L -3 -3 C -4 -3 -4 -3 -4 -2 L -1 1 C 0 1 0 0 0 0";
	-fx-background-color: #A76D34;
	-fx-opacity: 0.8;

}

.first-button{
	

}
